@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    background: linear-gradient(120deg, blue, orange);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.to-do-app{
    width: 30%;
    min-height: 30%;
    background-color: #fff;
    margin: 70px 0 0 0;
    border-radius: 10px;
}
.to-do-text h1{
    color: rgb(38, 38, 100);
    font-size: 25px;
    font-weight: 700;
    padding: 15px 0 0 25px;
}
.to-do-text h1 img{
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
}
.input-area{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 15px 0 0 0;
}
input{
    width: 70%;
    padding: 10px 0 10px 30px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: rgb(227, 226, 226);
    font-weight: 400;
    color: rgb(38, 38, 100);
}
button{
    padding: 10px 20px;
    background-color: #ffa500;
    border-radius: 30px;
    border: none;
    outline: none;
    color: rgb(38, 38, 100);
    font-weight: 500;
    cursor: pointer;
}
.added-task{
    padding: 15px 0 0 25px;
    
}
ul li{
    list-style: none;
    margin: 18px 30px;
    color: rgb(38, 38, 100);
    font-weight: 500;
    font-size: 15px;
    position: relative;
}
ul li span{
    position: absolute;
    right: 5px;
    top: -2px;
    color: #555;
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    font-weight: 400;
}
ul li span:hover{
    background-color: #e5e5e5;
    border-radius: 50%;
}
ul li:hover{
    cursor: pointer;
}
ul li::before{
    content: "";
    height: 25px;
    width: 25px;
    background: url(unchecked.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    left: -35px;
    top: -0.1px;
}
ul li.checked{
    text-decoration: line-through;
    color: gray;
}
ul li.checked::before{
    height: 25px;
    width: 25px;
    background: url(cheched.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    left: -35px;
    top: -0.1px;
}
